body {
    height: fit-content;
    .login-form {
        max-width: 300px;
        margin: 100px auto 0;
        .login-form-forgot {
            float: right;
        }
    
        .login-form-button {
            width: 100%;
        }
    }
    .back-to-home {
        text-align: center;
        padding-top: 150px;
        a {
            color: darkcyan;
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
        }

    }
}