.width-content {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 50px 0;

    @media (max-width: 768.98px) {
        width: 100%;
    }

    img {
        width: 80px;
        height: 80px;
    }

    .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 3px;
        margin-bottom: 15px;

        .total-price {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .cart-subtotal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .total-price {
            display: flex;
            justify-content: space-between;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .item-name {
            font-size: 20px;
            font-weight: 500;
        }
        .item-price {
            color: rgb(255, 126, 126);
            font-size: 18px;
        }
    }
}