.width-layout {
    width: 750px;
    margin: 0 auto;
    padding: 100px 0;

    @media (max-width: 768.98px) {
        width: 100%;
        padding: 45px 0;
    }

    .search-title {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 15px;
    }

}

.search-result {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;

    @media (max-width: 768.98px) {
        width: 100%;
    }
}